<h1><%= device.name %></h1>

<a href="/devices/<%= device.id %>/system_properties"><h4>System Properties</h4></a>
<a href="/devices/<%= device.id %>/sysctls"><h4>Sysctls</h4></a>
<br />
<a href="/devices/<%= device.id %>/features"><h4>Features</h4></a>
<a href="/devices/<%= device.id %>/shared_libraries"><h4>Shared Libraries</h4></a>
<a href="/devices/<%= device.id %>/permissions"><h4>Permissions</h4></a>
<a href="/devices/<%= device.id %>/providers"><h4>Content Providers</h4></a>
<br />
<a href="/devices/<%= device.id %>/small_files"><h4>File Contents</h4></a>
<a href="/devices/<%= device.id %>/file_permissions"><h4>File Permissions</h4></a>
